/**/
@font-face {
  font-family: 'Chartrand';
  src: url("fonts/Chartrand/Chartrand.eot");
  src: url("fonts/Chartrand/Chartrand.eot?#iefix") format("embedded-opentype"), url("fonts/Chartrand/Chartrand.woff") format("woff"), url("fonts/Chartrand/Chartrand.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DroidSerif';
  src: url("fonts/DroidSerif/DroidSerif.eot");
  src: url("fonts/DroidSerif/DroidSerif.eot?#iefix") format("embedded-opentype"), url("fonts/DroidSerif/DroidSerif.woff") format("woff"), url("fonts/DroidSerif/DroidSerif.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* line 10, ../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, ../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/layout/_sticky-footer.scss */
#layout {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -100px;
}
/* line 18, ../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/layout/_sticky-footer.scss */
#layout #layout_footer {
  height: 100px;
}

/* line 20, ../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/layout/_sticky-footer.scss */
#footer {
  clear: both;
  position: relative;
  height: 100px;
}

/* line 32, ../../src/stylesheets/style.scss */
html, body {
  position: relative;
  min-height: 100%;
  width: 100%;
  color: white;
  background: #3e3d3d;
}

/* line 39, ../../src/stylesheets/style.scss */
body {
  color: white;
}

/* line 46, ../../src/stylesheets/style.scss */
.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
}

/* line 51, ../../src/stylesheets/style.scss */
.pageContent {
  text-align: justify;
  margin: 15px 0;
}

/*navbar*/
/* line 57, ../../src/stylesheets/style.scss */
.navbar {
  margin-bottom: 0px;
  background-color: #000000;
  border-color: #000000;
  border-radius: 0px;
}

/* line 63, ../../src/stylesheets/style.scss */
.navbar-default .navbar-nav > li > a {
  font-family: 'DroidSerif' , serif, sans-serif;
  font-size: 15.24px;
  text-align: center;
  color: #feff95;
  text-transform: capitalize;
}

/* line 70, ../../src/stylesheets/style.scss */
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: orange;
  background-color: transparent;
}

/* line 74, ../../src/stylesheets/style.scss */
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: #e7e7e7;
  color: orange;
}

/* line 78, ../../src/stylesheets/style.scss */
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: orange;
}

/* line 82, ../../src/stylesheets/style.scss */
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  text-align: center;
  text-decoration: underline;
}

/*end navbar*/
/* line 89, ../../src/stylesheets/style.scss */
header .leftHeader {
  background: #1c1c1c;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 97, ../../src/stylesheets/style.scss */
header .leftHeader a.logo span.logoTop {
  font-family: 'DroidSerif' , serif, sans-serif;
  font-size: 11.46px;
  color: #feff95;
  display: block;
  text-transform: uppercase;
  letter-spacing: 2px;
}
/* line 105, ../../src/stylesheets/style.scss */
header .leftHeader a.logo span.logoMedium {
  font-family: 'Chartrand' , serif, sans-serif;
  font-size: 38.27px;
  font-weight: 500;
  color: #ffffff;
  display: block;
  text-transform: capitalize;
  letter-spacing: 4px;
  line-height: 34px;
}
/* line 115, ../../src/stylesheets/style.scss */
header .leftHeader a.logo span.logoBottom {
  font-family: 'DroidSerif' , serif, sans-serif;
  font-size: 11.46px;
  color: #feff95;
  display: block;
  letter-spacing: 2px;
}
/* line 122, ../../src/stylesheets/style.scss */
header .leftHeader a.logo:hover {
  text-decoration: none;
}
/* line 128, ../../src/stylesheets/style.scss */
header .rightHeader, header #gallery {
  height: 350px;
}

/* line 135, ../../src/stylesheets/style.scss */
.content .mediumSection {
  padding: 10px 0;
}
/* line 137, ../../src/stylesheets/style.scss */
.content .mediumSection img {
  padding: 20px 0;
  margin: 0 auto;
}

/* line 144, ../../src/stylesheets/style.scss */
div.postContentOne {
  margin: 16px 0;
}
/* line 146, ../../src/stylesheets/style.scss */
div.postContentOne div.postContentOneLeft, div.postContentOne #gallery2 {
  height: 229px;
}
/* line 150, ../../src/stylesheets/style.scss */
div.postContentOne div.postContentOneRight div.postContentOneRight-LeftText {
  background-color: #1c1c1c;
  color: white;
  height: 229px;
  padding: 65px 72px;
  font-family: 'DroidSerif' , serif, sans-serif;
  font-size: 14px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 163, ../../src/stylesheets/style.scss */
div.postContentOne div.postContentOneRight div.postContentOneRight-RightBG {
  background: url('../images/postContentOneRight-RightBG.jpg') center center no-repeat #000707;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  height: 229px;
}

/* line 172, ../../src/stylesheets/style.scss */
div.postContentTwo {
  margin: 16px 0;
}
/* line 174, ../../src/stylesheets/style.scss */
div.postContentTwo #gallery3 {
  height: 229px;
}
/* line 178, ../../src/stylesheets/style.scss */
div.postContentTwo div.postContentTwoLeft div.postContentTwoLeft-RightText {
  background-color: #1c1c1c;
  color: white;
  height: 229px;
  padding: 65px 72px;
  font-family: 'DroidSerif' , serif, sans-serif;
  font-size: 14px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 191, ../../src/stylesheets/style.scss */
div.postContentTwo div.postContentTwoLeft div.postContentTwo-LeftBG {
  background: url('../images/postContentTwo-LeftBG.jpg') center center no-repeat #000707;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  height: 229px;
}

/* line 199, ../../src/stylesheets/style.scss */
div.contacts {
  margin: 16px auto;
}

/* line 203, ../../src/stylesheets/style.scss */
#footer {
  height: auto;
  background-color: #1c1c1c;
  padding: 14px 0;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 216, ../../src/stylesheets/style.scss */
.telephone {
  font-family: 'DroidSerif' , serif, sans-serif;
  font-size: 15px;
  text-align: center;
  color: #feff95;
  line-height: 40px;
}
/* line 222, ../../src/stylesheets/style.scss */
.telephone img {
  margin-right: 10px;
}

/* line 227, ../../src/stylesheets/style.scss */
.adress {
  font-family: 'DroidSerif' , serif, sans-serif;
  font-size: 15px;
  text-align: center;
  color: #feff95;
  line-height: 40px;
}
/* line 233, ../../src/stylesheets/style.scss */
.adress img {
  margin-right: 10px;
}

/* line 238, ../../src/stylesheets/style.scss */
#gallery div {
  width: 100%;
  height: 100%;
  background-size: cover;
}

/* line 239, ../../src/stylesheets/style.scss */
#gallery2 div {
  width: 100%;
  height: 100%;
  background-size: cover;
}

/* line 240, ../../src/stylesheets/style.scss */
#gallery3 div {
  width: 100%;
  height: 100%;
  background-size: cover;
}

@media (min-width: 375px) {
  /* line 248, ../../src/stylesheets/style.scss */
  header .leftHeader {
    height: 150px;
  }
}
@media (min-width: 425px) {
  /* line 262, ../../src/stylesheets/style.scss */
  header .leftHeader {
    height: 200px;
  }
  /* line 266, ../../src/stylesheets/style.scss */
  header .rightHeader, header #gallery {
    height: 400px;
  }
}
@media (min-width: 768px) {
  /* line 280, ../../src/stylesheets/style.scss */
  .navbar-nav > li > a {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  /* line 285, ../../src/stylesheets/style.scss */
  .navbar-default .navbar-nav > li > a {
    font-size: 14.24px;
  }

  /* line 291, ../../src/stylesheets/style.scss */
  header .leftHeader {
    height: 300px;
    width: 35%;
    max-width: 480%;
    float: left;
  }
  /* line 298, ../../src/stylesheets/style.scss */
  header .rightHeader, header #gallery {
    height: 300px;
    width: 65%;
    float: left;
  }

  /* line 306, ../../src/stylesheets/style.scss */
  div.postContentOne {
    overflow: hidden;
  }
  /* line 312, ../../src/stylesheets/style.scss */
  div.postContentOne div.postContentOneRight div.postContentOneRight-LeftText {
    float: left;
    width: 50%;
  }
  /* line 317, ../../src/stylesheets/style.scss */
  div.postContentOne div.postContentOneRight div.postContentOneRight-RightBG {
    float: left;
    width: 50%;
  }

  /* line 324, ../../src/stylesheets/style.scss */
  div.postContentTwo {
    overflow: hidden;
  }
  /* line 329, ../../src/stylesheets/style.scss */
  div.postContentTwo div.postContentTwoLeft {
    overflow: hidden;
  }
  /* line 331, ../../src/stylesheets/style.scss */
  div.postContentTwo div.postContentTwoLeft div.postContentTwoLeft-RightText {
    float: left;
    width: 50%;
  }
  /* line 336, ../../src/stylesheets/style.scss */
  div.postContentTwo div.postContentTwoLeft div.postContentTwo-LeftBG {
    float: left;
    width: 50%;
  }

  /* line 344, ../../src/stylesheets/style.scss */
  .content .mediumSection {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* line 353, ../../src/stylesheets/style.scss */
  .telephone {
    font-size: 17.77px;
    line-height: 75px;
  }

  /* line 358, ../../src/stylesheets/style.scss */
  .adress {
    font-size: 17.77px;
    line-height: 75px;
  }
}
@media (min-width: 991px) {
  /* line 371, ../../src/stylesheets/style.scss */
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    text-align: center;
  }

  /* line 376, ../../src/stylesheets/style.scss */
  .navbar {
    text-align: center;
  }

  /* line 381, ../../src/stylesheets/style.scss */
  header .leftHeader {
    height: 600px;
  }
  /* line 385, ../../src/stylesheets/style.scss */
  header .rightHeader, header #gallery {
    height: 600px;
  }

  /* line 393, ../../src/stylesheets/style.scss */
  header.headerPageContent .leftHeader {
    height: 360px;
  }
  /* line 397, ../../src/stylesheets/style.scss */
  header.headerPageContent .rightHeader, header.headerPageContent #gallery {
    height: 360px;
  }
}
@media (min-width: 1199px) {
  /* line 416, ../../src/stylesheets/style.scss */
  .navbar-default .navbar-nav > li > a {
    font-size: 15.24px;
  }

  /* line 419, ../../src/stylesheets/style.scss */
  div.postContentOne {
    overflow: hidden;
  }
  /* line 421, ../../src/stylesheets/style.scss */
  div.postContentOne div.postContentOneLeft, div.postContentOne #gallery2 {
    float: left;
    width: 50%;
  }
  /* line 426, ../../src/stylesheets/style.scss */
  div.postContentOne div.postContentOneRight {
    float: left;
    width: 50%;
  }

  /* line 432, ../../src/stylesheets/style.scss */
  div.postContentTwo {
    overflow: hidden;
  }
  /* line 434, ../../src/stylesheets/style.scss */
  div.postContentTwo #gallery3 {
    float: left;
    width: 50%;
  }
  /* line 439, ../../src/stylesheets/style.scss */
  div.postContentTwo div.postContentTwoLeft {
    float: left;
    width: 50%;
  }
}
@media (min-width: 1440px) {
  /* line 454, ../../src/stylesheets/style.scss */
  .container {
    width: 1200px;
  }
}
